.export-excel {
   display: flex;
    justify-content: space-between;
}

.export-excel__content {
    margin: 50px 0 0 50px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    width: 76px;
    height: 32px;
    background-color: rgb(0, 149, 182);
    border-radius: 3px;
    text-decoration: none;
    transition: opacity 0.5s ease;
}


.link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.link__title {
    margin: 8px 20px;
    color: #000;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 600;
}

.link_map {
    margin: 10px 10px;
    background-color: rgb(0, 182, 6);
}

.export-excel__button-container {
    display: flex;
    margin-right: 30%;
    flex-direction: column;
}

.export-excel__logo {
    margin-top: 20px;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

.export-excel__button_Logout {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 176, 46);
    color: #000;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 600;
    border-radius: 3px;
    width: 76px;
    height: 32px;
    border: none;
    transition: opacity 0.5s ease;
}

.export-excel__button_Logout:hover {
    opacity: 0.7;
    cursor: pointer;
}